@import '../../global.scss';
.works{
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow {
        height: 50px;
        position: absolute;
        cursor: pointer;
    
        @include mobile{
          display: none;
        }

        &.left {
          left: 100px;
          transform: rotateY(180deg);
        }
    
        &.right {
          right: 100px;
        }
      }

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1.5s ease-out;
        overflow: hidden;
        
       

        @include mobile{
          height: 100vh;
          flex-direction: column;
          justify-content: center;
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            //  transform: rotate(-1deg);
            overflow: hidden;

            //position: relative;
            @include mobile{
              transform: none;
            }
            
            .item{
                width: 700px;
                height: 105%;
                background: white;
                border-radius: 23px 27px 25px 28px ;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;

                @include mobile{
                  width: 80%;
                  height: 130px;
                  margin: 7px 0;
                }

                .left{
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // background: #000;

                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        // @include mobile{
                        //   width: 100%;
                        //   height: 100%;
                        //  }

                        .imgContainer{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgb(245, 179, 155);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @include mobile{
                              width: 20px;
                              height: 20px;
                             }

                            img {
                                width: 25px;
                                @include mobile{
                                  width: 15px;
                                  
                                 }
                            }
                        }
                        h2 {
                            font-size: 20px;
                            @include mobile{
                              font-size: 14px;
                            }
              
                          }
                          p {
                            font-size: 13px;
                            @include mobile{
                              display: none;
                             }
                          }
                          span {
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                          }
                    }
                }
                .right{
            
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
          
                    img {
                      width: 400px;
                      transform: rotate(-12deg);
                      @include mobile{
                        transform: rotate(-8deg);
                      }
                    }
                }
            }
        }
    }
}
